{% extends "blog/base.html"%}
{% load staticfiles %}

{% block navbar %}
<li class="active"><a href="/">码</a></li>
<li><a href="/metas"><span class="glyphicon glyphicon-th"></span></a></li>
<li><a href="/articel/1"><span class="glyphicon glyphicon-erase"></span></a></li>
{% endblock %}

{% block content %}
<!-- content -->
<div class="col-md-7" style="text-align:center; valign:center; padding:80px 0; ">

    <div class="panel panel-default" style="width:400px; margin: auto;">
    <!-- content -->
    <div class="panel-body">
         <div class="content">
        <form style="padding:10px;" class="form-horizontal"  method="post" action="/dologin/">
            {% csrf_token %}
              <div class="form-group">
                <div>
                  <input type="username" name="username" class="form-control" id="username" placeholder="用户名">
                </div>
              </div>
              <div class="form-group">
                <div>
                  <input type="password" name="password" class="form-control" id="password" placeholder="密码">
                </div>
              </div>
              <div class="form-group">
                <div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> 记住我
                    </label>
                    <button type="submit" value="login" class="btn btn-success">登录</button>
                  </div>
                </div>
              </div>
        </form>
    </div>
    </div>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
   
    <!-- end content-->
    </div>

    

</div>
{% endblock %}
