{% extends "blog/base.html"%}
{% load staticfiles %}
{% load markdown_deux_tags %}


{% block navbar %}
<li class="active"><a href="/">码</a></li>
<li><a href="/metas"><span class="glyphicon glyphicon-th"></span></a></li>
<li><a href="/articel/1"><span class="glyphicon glyphicon-erase"></span></a></li>
{% endblock %}


{% block content %}
<!-- content -->
<div class="col-md-7">
	<h2>来自微信服务器的信息</h2>
	<blockquote>
		来自微信的timestamp: {{ timestamp }}<br>
		来自微信的token: {{ token }}<br>
		来自微信的nonce: {{ nonce }}<br>
		来自微信signature: {{ signature }}<br>
		自己创建的校验字符串：{{ tmp_str}}<br>
	</blockquote>
</div>
{% endblock %}
